{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
    <h2 class="text-center my-4">Post</h2>
    <hr>
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.tags) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
</div>
{% endblock %}